.formContainer {
  display: flex;
  flex-direction: column;
}
.InputGroup {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  width: 50%;
  margin: 0 auto;
}
.InputGroup input {
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.InputGroup label {
  margin-left: 0.2rem;
  text-align: left;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
.submitBtn {
  width: 50%;
  margin: 1rem auto;
  padding: 0.91rem;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid hsl(267, 95%, 86%);
  background-color: #0000001a;
  transition-duration: 100ms;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #0000002f;
}
